@using PosEcommerce.Models;
@{
    ViewBag.Title = @Global.resourcemanager.GetString("AboutUs").ToString();
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
